.git/
.idea/

# Node.js
node_modules/
package-lock.json

# AWS Lambda
.serverless/

# Python
.venv/
.vscode/
.pytest_cache/
__pycache__/
.ipynb_checkpoints/

# Environment files
.env
greatAiHackathon_accessKeys.csv

# Local data
# aws-texttract/files/
# log/
# output/